body{
	background-color: #000000;
	margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: 'spaceGrotesk';
  src:  url("SpaceGrotesk-Light.otf");
}

.link{
	strokeWeight(0.25);
	font-family: "spaceGrotesk";
	color: black;
	font-size: 22px;
	text-decoration: none;
}
